src/main/mule/walmartpacksize.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<apikit:config name="walmartpacksize-config"
		api="resource::8cd1f13f-a715-46ef-a571-046930e0e5e3:walmartpacksize:1.0.1:raml:zip:walmartpacksize.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<salesforce:sfdc-config name="Salesforce_Config"
		doc:name="Salesforce Config"
		doc:id="b659c8c7-92a5-4294-8bf0-841f509d4c62">
		<salesforce:basic-connection
			username="nikhil.acharya@packsize.com.walmartsn"
			password="here@thewaLL4163" securityToken="gmFVu3wgxB4Ll14QDDpqkv0fL"
			url="https://test.salesforce.com/services/Soap/u/60.0" />
	</salesforce:sfdc-config>
	<flow name="walmartpacksize-main">
		<http:listener
			config-ref="walmartpacksize-httpListenerConfig" path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="walmartpacksize-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="walmartpacksize-console">
		<http:listener
			config-ref="walmartpacksize-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="walmartpacksize-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow
		name="post:\incident-info:application\json:walmartpacksize-config">
		<ee:transform doc:name="Transform Message"
			doc:id="32aa4386-59cf-4599-a2b7-8e9c6e241261">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="main-body"><![CDATA[%dw 2.0
output application/json
var site = payload.site
var siteNumber = (site splitBy ".")[0]
---
{
	IncidentDetails: {
		site_contact: payload.site_contact,
		site_contact_email: payload.site_contact_email,
		site_contact_phone: payload.site_contact_phone,
		site_country: payload.site_country,
		site: payload.site,
		number: payload.number,
		comments_and_work_notes: payload.comments_and_work_notes,
		work_notes_list: payload.work_notes_list,
		short_description: payload.short_description,
		description: payload.description
	},
	Contact: {
		FirstName: (payload.site_contact splitBy(" "))[0],
		LastName: (payload.site_contact splitBy(" "))[-1],
		Email: payload.site_contact_email,
		Phone: payload.site_contact_phone
	},
	"query": siteNumber
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query-all doc:name="Query Account"
			doc:id="f03a808c-6c8f-4522-81af-be02f03de515"
			config-ref="Salesforce_Config" readTimeoutUnit="MINUTES"
			target="account-info">
			<salesforce:salesforce-query><![CDATA[#[
	"SELECT Name, Site_Name__c, Account__c FROM Site__c WHERE WFC__c = '" 
	++ (vars."main-body".query default '')
	++ "' OR FC_DC__c Like '" 
	++ (vars."main-body".query default '')
 	++ "'"
]]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<salesforce:query-all doc:name="Query Contact"
			doc:id="a0722a71-bf83-4767-ac2c-4c45d66186b8"
			config-ref="Salesforce_Config" target="contact-info">
			<salesforce:salesforce-query><![CDATA[#[ 
    "SELECT Id, Name, Email FROM Contact WHERE Email = '" 
    ++ (vars."main-body".Contact.Email default '') 
    ++ "'"
]]]></salesforce:salesforce-query>
			<salesforce:headers />
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message"
			doc:id="8737a2e3-c7d4-4980-a639-5fbdec069eb5">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="combine-query"><![CDATA[%dw 2.0
output application/json
var account = vars."account-info".Account__c[0]
var contact = vars."contact-info".Id[0]
var email = vars."contact-info".Email[0]

---
{
	"account_id": account,
	"contact_id": contact,
	"email": email
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice"
			doc:id="adc3e896-db34-414c-a1f1-c92fc741ee6d">
			<when expression='#[vars."combine-query".contact_id == null]'>
				<flow-ref doc:name="Flow Reference"
					doc:id="d4e19d92-0705-4bb3-9581-dfd51f35fed0" name="CreateContact" />
			</when>
			<otherwise>
				<flow-ref doc:name="Flow Reference"
					doc:id="40a13098-94ab-4c9c-8da9-c5bd1a2253a2" name="CreateCase" />
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="CreateContact"
		doc:id="1452f0fb-4a4e-414f-a294-3631e2c987cb">
		<ee:transform doc:name="Transform Message"
			doc:id="7c6381ee-fa7a-4a9a-af64-5c9306cd7ca8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	AccountId: vars."combine-query".account_id,
	LastName: vars."main-body".Contact.LastName,
	FirstName: vars."main-body".Contact.FirstName,
	Phone: vars."main-body".Contact.Phone,
	Email: vars."main-body".Contact.Email
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Contact"
			doc:name="Create Contact"
			doc:id="386bfaef-5604-4321-8454-698cdcc65425"
			config-ref="Salesforce_Config" />
		<flow-ref doc:name="Flow Reference"
			doc:id="95b0d6ec-e3de-4742-9193-8194b68a1114" name="CreateCase" />
	</sub-flow>
	<sub-flow name="CreateCase"
		doc:id="8e7b0d23-6ec7-4471-9393-93ca1b1c0b24">
		<ee:transform doc:name="Transform Message"
			doc:id="b051aa53-6e3d-4d0d-a5f5-bd68dc877e48">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	AccountId: vars."combine-query".account_id,
	ContactId: vars.'combine-query'.contact_id default payload.items[0].id,
	Subject: vars."main-body".IncidentDetails.short_description,
	Description: vars."main-body".IncidentDetails.description
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Case" doc:name="Create"
			doc:id="84417906-5065-4daf-8ec9-bbef85cf9493"
			config-ref="Salesforce_Config" />
		<ee:transform doc:name="Transform Message"
			doc:id="fe6f79e2-c759-440a-aa7b-8a5f38711d38">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	CaseID : payload.items[0].id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
